



.disable{
    background-color: darkgray;
    
  }

.friends{
  padding-left: 1rem;
}


.addFiendForm{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black 2px;
    border-radius: 5px;
    background-color: var(--cadet-gray);
    padding:1em;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  }
  
  
.x{
    display: flex;
    justify-content: right;
    margin-bottom: 0.5rem;
  }
.x span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: smaller;
  }
  
.x span:hover{
    cursor: pointer;
    color: black;
  }

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .shareBet{
    font-size: 1.5em;
    background-color: var(--cadet-gray);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: solid black 2px;
    padding: 2em;
  }

  .friendsLabel{
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }

  .friendsLabel span{
    border-bottom: solid var(--alabaster) 2px;
  }