.OverUnder{
    font-size: 2em;
    flex:2;
}

.betContainer{
    padding-bottom: 2rem;
    border-bottom:dashed 1px var(--alabaster);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bet textarea{
    width: 20em;
    height: 6em;
    font-size: .5em;
    text-align: left;
    padding: .5rem;;
    border-radius: 5px;
    border: 1px solid var(--alabaster);
    background-color: var(--cadet-gray);
    color: var(--alabaster);
}
.setting{
    display: flex;
    align-items: center;
    gap:1rem;
    margin:.5rem;
}

.input{
    height: 1.5rem;
    width: 3rem;
}

.betLabel{
    font-weight: normal;
    border-bottom: dashed 1px var(--alabaster);
    padding-bottom: 1rem;
    padding-left: 1em;
}

.lineLabel span{
    border-bottom: solid 1px var(--alabaster);
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em ;
    gap:1rem;
    padding: 0em 1.5em;
    border-left: solid 1px var(--alabaster);
    border-right: solid 1px var(--alabaster);
}
.actualLine{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.remain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section p {
    text-align: center;
}