

.MoneyLine{
    font-size: 2em;
}
.betContainer{
    padding-bottom: 2rem;
    border-bottom:dashed 1px var(--alabaster);
}
.bet{
    padding-left:2rem
}
.bet textarea{
    width: 20em;
    height: 6em;
    font-size: .5em;
    text-align: left;
    padding: .5rem;;
    border-radius: 5px;
    border: 1px solid var(--alabaster);
    background-color: var(--cadet-gray);
    color: var(--alabaster);
}
.bet textarea:focus{
    outline:none;
    border: solid 2px var(--alabaster);
}
.contestant{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}
.contestant input{
    
    justify-content: center;
    align-items: center;
}
.contestantInput{
    height: 3rem;
    background-color: var(--cadet-gray);
    border-radius: 5px;
    border: 1px solid;
}
.contestantInput:focus{
    outline:none;
    border: solid 2px var(--alabaster);
    
}
.label{
    font-size: .75em;
    padding: .5rem;
    border-bottom: 1px solid var(--alabaster);
    color: var(--alabaster);
}
.odds span{
    font-size: .5em;
    padding-left: .5rem;
    color: var(--alabaster);
}
.odds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
}
.odds input{
    width: 4rem;
}
