.betButton {
    background-color: var(--blue-gray);
    border: none;
    font-size: 1.1rem;
    font-weight: 100;
    padding:1rem 2.25rem;
    color: white;
}

.betButton:hover {
    background-color: #576971;
}

.redSpring {
    background-color: #FF9A9A;
}

.big{
    padding:1rem 2.25rem;
    font-size: 1.1rem;
    font-weight: 100;
}

.small{
    padding: 0;
}

.DeleteButton{
    background-color: red;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 1rem   2.25rem;
    width:100%;
}
.DeleteButton:hover{
    background-color: darkred;
}

.DeleteButton:active{
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25) inset;
}

.ShareButton{
    background-color: var(--spring-green);
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 1rem   2.25rem;
    width:100%;
}
.ShareButton:hover{
    background-color: #7DBD8D;
}

.ShareButton:active{
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25) inset;
}

.EditButton{
    background-color: var(--blue-gray);
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 1rem   2.75rem;
    width:100%;
}
.EditButton:hover{
    background-color: #576971;
}

.EditButton:active{
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25) inset;
}



/* shareBet.jsx */

.border{
    display: flex;
    padding: .5rem;
    max-width: 254px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: white;
  }
  
  .urlCopy{
    overflow: scroll;
    background-color: white;
    font-size: 0.5em;
    height: 100%;
    overflow-x: auto; /* add horizontal scrollbar if content is wider than the container */
    white-space: nowrap;
    border: solid black 2px; ;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--cadet-gray);
  
    ::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
  }
  
  .copyButton{
    background: white;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    border-left:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0rem .5rem;
    font-size: 1rem;
  }
  .copyButton:hover{
    cursor: pointer;
    background-color: lightgray;
  }
  .copyButton:active{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75) inset;
  }
  