.greenButtons {
    /* background-color: var(--spring-green-light); */
    background-color: #6B818C;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.25);
    font-size: 1.1rem;
    font-weight: 100;
    padding:1rem 2.25rem;
    color: white;

    transition: all ease 0.3s;
}

.greenButtons:hover {
    box-shadow: 0px 7px 7px 2px rgba(0,0,0,0.25);
    background-color: #cce5d0;
}
.greenButtons:active {
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.25) inset;
}


.redSpring {
    background-color: #FF9A9A;
}

.big{
    padding:1rem 2.25rem;
    font-size: 1.1rem;
    font-weight: 100;
}

.small{
    padding: 0;
}

.DeleteButton{
    background-color: red;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 1rem   2.25rem;
}
.DeleteButton:hover{
    background-color: darkred;
}

.DeleteButton:active{
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25) inset;
}

.ShareButton{
    background-color: var(--spring-green);
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 1rem   2.25rem;
}
.ShareButton:hover{
    background-color: #7DBD8D;
}

.ShareButton:active{
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25) inset;
}