/* CSS HEX */
:root{
  --midnight-green: #114b5fff;
  --cardinal: #ba3b46ff;
  --cadet-gray: #95a3a4ff;
  --dark-purple: #170a1cff;
  --alabaster: #e2e8ddff;
  --dark-spring-green: #007a45ff;
  
  /* CSS HSL */
  /*
  --midnight-green: hsla(195, 70%, 22%, 1);
  --cardinal: hsla(355, 52%, 48%, 1);
  --cadet-gray: hsla(184, 8%, 61%, 1);
  --dark-purple: hsla(283, 47%, 7%, 1);
  --alabaster: hsla(93, 19%, 89%, 1);
  */
  --gradient-top: linear-gradient(0deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-right: linear-gradient(90deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom: linear-gradient(180deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-left: linear-gradient(270deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-top-right: linear-gradient(45deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom-right: linear-gradient(135deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-top-left: linear-gradient(225deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom-left: linear-gradient(315deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-radial: radial-gradient(#114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
}


body{
  background-color: var(--midnight-green);
  color: var(--alabaster);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  height: 100vh;
  width: 100vw;

}




.flex{display: flex;}

.x1{flex: 1;}
.x2{flex: 2;}
.x3{flex: 3;}

.pad{
  padding: 1rem;
}


.header{
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  background-color: var(--cadet-gray);
  color:  var(--alabaster);
  font-size: 1.25em;
}
.pages{
  justify-content: center;
  align-items: center;
  gap:1em;
}
.Link{
  text-decoration: none;
  color: var(--alabaster);

}
.Link:hover{
  color: var(--dark-purple);
}












