@tailwind base; 
@tailwind components;
@tailwind utilities; 


:root{
  --midnight-green: #114b5fff;
  --cardinal: #ba3b46ff;
  --cadet-gray: #95a3a4ff;
  --dark-purple: #170a1cff;
  --alabaster: #e2e8ddff;
  --dark-spring-green: #007a45ff;
  --spring-green: #9DC9A4;
  --spring-green-light:#ddece0;
  --blue-gray:#6B818C;

  --gradient-top: linear-gradient(0deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-right: linear-gradient(90deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom: linear-gradient(180deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-left: linear-gradient(270deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-top-right: linear-gradient(45deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom-right: linear-gradient(135deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-top-left: linear-gradient(225deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-bottom-left: linear-gradient(315deg, #114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
  --gradient-radial: radial-gradient(#114b5fff, #ba3b46ff, #95a3a4ff, #170a1cff, #e2e8ddff);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}



body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  min-height: 100vh;
  width: 100vw;
  background: white;
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 40px 40px;
  color:black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.x{
  display: flex;
  justify-content: right;
  margin-bottom: 0.5rem;
}
.x span:hover{
  cursor: pointer;
  color: white;
  
}




/* == transition for create bet button == */
.createBet-enter {
  opacity: 0;
  transform: translateY(-100%); /* Start from above the screen */
}

.createBet-enter-active {
  opacity: 1;
  transform: translateY(0); /* Move to its original position */
  transition: opacity 300ms, transform 300ms;
}

.createBet-enter-done {
  opacity: 1;
  transform: translateY(0);
}

.createBet-exit {
  opacity: 1;
  transform: translateY(0);
}

.createBet-exit-active {
  opacity: 0;
  transform: translateY(-100%); /* Move out of the screen upwards */
  transition: opacity 300ms, transform 300ms;
}

.createBet-exit-done {
  opacity: 0;
  transform: translateY(-100%);

}


/* == transition for mobile view  button == */
.createBetDown-enter {
  opacity: 0;
  transform: translateY(100%); /* Start from above the screen */
}

.createBetDown-enter-active {
  opacity: 1;
  transform: translateY(0); /* Move to its original position */
  transition: opacity 300ms, transform 300ms;
}

.createBetDown-enter-done {
  opacity: 1;
  transform: translateY(0);
}

.createBetDown-exit {
  opacity: 1;
  transform: translateY(0);
}

.createBetDown-exit-active {
  opacity: 0;
  transform: translateY(100%); /* Move out of the screen upwards */
  transition: opacity 300ms, transform 300ms;
}

.createBetDown-exit-done {
  opacity: 0;
  transform: translateY(100%);

}




/* == transition for view bet button == */
.betLink {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  transition: box-shadow 300ms;
}

.betLink::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--spring-green-light);
  transition: left 300ms;
  z-index: 1;
}

.betLink:hover::before {
  left: 0;
}

.betLink:hover{
  box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.25);
}
