/*

This file is all the base classes for consistent styling

*/

/* == Flex == */
.x1{flex: 1;}
.x2{flex: 2;}
.x3{flex: 3;}



/* == Back ground colors == */
.bg-spring-green-light{
    background-color: var(--spring-green-light);
}
.bg-secondary-spring-green-light{
    background-color: #BEDEC5;

}
.bg-spring-green{
    background-color: var(--spring-green);
}
.bg-blue-gray{
    background-color: var(--blue-gray);
}
.dropdown.bg-secondary-spring-green-light:hover{
    background-color: var(--spring-green);
}
.dropdown.bg-secondary-spring-green-light:active{
    background-color: var(--blue-gray);
}
/* == Text colors == */
.green{
    color: rgb(3, 255, 3);
  }
  
.red{
    color: red;
}


/* == absolute / fixed centering  == */
.absolute-center-x{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.absolute-center-y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fixed-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fixed-center-x{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/* == Borders == */
.black-border {
    border: solid black 2px;
}
.border-bottom {
    border-bottom: solid black 2px;
}
.border-bottom-white{
    border-bottom: solid white 2px;
}
.border-blue-gray{
    border: solid var(--blue-gray) 2px;
}
.border-bottom-dashed-blue-gray{
    border-bottom: dashed 1px var(--blue-gray);
  }

/* == shadows == */
.box-shadow{
    transition: all .25s ease-in;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.box-shadow:hover{
    box-shadow: 0px 7px 7px 2px rgba(0,0,0,0.25);
}
.box-shadow:active{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
}
  
.box-shadow-no-hover{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}

.text-shadow{
    text-shadow: rgb(100, 100, 100) 1px 1px 1px;
  }

/* == Blob for View Bets == */
.blob{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(149, 163, 164, 0.2);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 3em;
    margin-top: 6rem;
    width: 100%;
}

.row { /* overrides the flex-colum in blob */
    flex-direction: row;
}
.items-start{ /* overrides the align-items in blob */
    align-items: start;
}

/* == Input sizes on Create Bets == */
.BetTextArea{
    width: 75%;
    height: 6em;
}
.subgroupsBetTextArea{
    width: 60%;
    height: 4em;
}

/* == Buttons == */
.betButton {
    background-color: var(--blue-gray);
    border: none;
    font-size: 1.1rem;
    font-weight: 100;
    padding:.5rem 1.125rem;
    color: white;
}
.baseBetButton {
    background-color: var(--blue-gray);
    border: none;
    padding:.5rem 1.125rem;
    color: white;
}
.betButton:hover, .baseBetButton:hover{
    background-color: #576971;
}

