body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


div{
  
}
.flex{display: flex;}

.x1{flex: 1;}
.x2{flex: 2;}
.x3{flex: 3;}