





/* BetNav.jsx */
.betNavLinks{
  text-decoration: none;
  transition: all .25s ease-in-out;
}

.betNavLinks:hover{
  text-shadow: 7px 7px 7px  rgba(0,0,0,0.25);
}

.betNavLinks:active{
  color: lightgray;
}


.betLabel{
  border-bottom: dashed 1px var(--blue-gray);
}