





/* BetNav.jsx */
.betNav{
    background-color: var(--cadet-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 5px;
    border: solid black 2px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  
}
.betNav h1{
    text-align: center;
    margin-bottom: 1em;
}
.betNav h1 span{
    border-bottom: solid var(--alabaster) 2px;
}  

.BettingLinks{
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 1em;
    margin: 1em;
    flex-direction: column;
}
.x{
    display: flex;
    justify-content: right;
    margin-bottom: 0.5rem;
}
.x span:hover{
    cursor: pointer;
    color: black;
}

.bet{
  background-color: var(--cadet-gray);
  padding: 0.5rem 2em;
  margin: 1em 2em;
  border-radius: 5px;
  border: solid black 2px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  
}
.bet:hover{
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75) inset;
}
.link{
  text-decoration: none;
  color: var(--alabaster);
}