





/* BetNav.jsx */
.betNav{
    background-color: var(--cadet-gray);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 5px;
    border: solid black 2px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  
}
.betNav h1{
    text-align: center;
    margin-bottom: 1em;
}
.betNav h1 span{
    border-bottom: solid var(--alabaster) 2px;
}  

.BettingLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
    flex-direction: column;
}

.betNavLinks{
  text-decoration: none;
  color: var(--alabaster);
  text-decoration: underline;
  transition: all .25s ease-in-out;
}

.betNavLinks:hover{
  text-shadow: 7px 7px 7px  rgba(0,0,0,0.25);
}

.betNavLinks:active{
  color: lightgray;
}

.x{
    display: flex;
    justify-content: right;
    margin-bottom: 0.5rem;
}
.x span:hover{
    cursor: pointer;
    color: black;
}

.line{
  border-right: black solid 2px;
}




.betLabel{
  border-bottom: dashed 1px var(--blue-gray);
}